/*General*/
body {
    margin: 0
}
h1 {
    font-family: 'Nerko One', cursive;
    font-size: 70px;
    letter-spacing: 2px;
    /* padding-bottom: 0.5em; */
}
h2 {
    font-family: 'Nerko One', cursive;
    font-size: 24px;
    letter-spacing: 2px;
}
h3 {
    font-family: 'Klee One', cursive;
    font-size: 24px;
    font-weight: 700;
    color: #723885;
}
h4 {
    font-family: 'Roboto', sans-serif;
    padding-top: 1rem;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
}
h5 {
    font-family: 'Klee One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

/*header navigation*/
.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-shrink: 1;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}
.headerContainer {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: #fec5f7;
    /* background-image: linear-gradient(150deg, #c680f8 10%, #FAF8B1 40%, #fab1ce 70%); */
    flex-shrink: 1;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 6.5rem;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    background-color: #f1a4e8;
    color: white;
    flex-shrink: 1;
    font-family: 'Nerko One', cursive;
    font-size: 24px;
    letter-spacing: 2px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline solid #F2D533;
    cursor: pointer;
    color: white;
}
a:visited {
    color: white;
}
a.active {
    color: white;
}
.nav li:hover {
    text-decoration: underline solid #F2D533;
    cursor: pointer;
}
.burger {
    display: none;
    flex-direction:column;
}
.burger:hover {
    cursor: pointer;
}
.navActive {
    text-decoration: underline solid #F2D533;
}
.bar {
    width: 45px;
    height: 10px;
    background-color: white;
    margin: 3px 0;
    border-radius: 6px;
}
.burgerContainer {
    display: none;
    list-style: none;
    font-family: 'Nerko One', cursive;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 48px;
}

.logoName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 1;
}
.logo {
    height: 100px;
    display: flex;
    align-items: center;
    float: left;
    padding-left: 30px;
}
.name {
    color: white;
    padding-left: 30px;
    font-family: 'Nerko One', cursive;
    font-size: 48px;
    letter-spacing: 2px;
    height: 6.5rem;
    display: flex;
    align-items: center !important;
}

/**My Work Introduction Section**/
.introduction {
    display: grid;
    color: white;
    width: 100%;
    padding-top: 100px;
    justify-content: center;
    align-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "introLeft introRight"
}
.introLeft {
    grid-area: introLeft;
    background-color:  #ac82e4;
    /* background-image: url("../images/project_background.jpg"); */
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-top: 1rem;
}
.introRight {
    grid-area: introRight;
    background-image: url("../images/port_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.introRight img {
    object-fit: contain;
    height: auto;
}
.introText {
    padding-top: 25px;
    padding-left: 100px;
}
.introIcons {
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    padding-bottom: 25px;
}
.introIcons:hover {
    cursor: pointer;
}
.iconLinkedin:hover {
    transform: scale(1.2, 1.2);
}
.iconEmail:hover {
    transform: scale(1.2, 1.2);
}

/*My Work Main*/
.myWork {
    display: grid;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    grid-template-columns: 450px 450px;
    grid-template-rows: 150px 1fr 1fr;
    grid-template-areas:
    "pageTitle pageTitle"
    "project1 project2"
    "project3 project4"
}
.pageTitle {
    color: #723885;
    grid-area: pageTitle;
    justify-self: center; 
}
.project1 {
    grid-area: project1;
    display: flex;
    flex-direction: column;
}
.project2 {
    grid-area: project2;
    display: flex;
    flex-direction: column;
}
.project3 {
    grid-area: project3;
    display: flex;
    flex-direction: column;
}
.project4 {
    grid-area: project4;
    display: flex;
    flex-direction: column;
}

/*About Me Page Main*/
.aboutMe {
    display:flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}
.nothing {
    grid-area: nothing;
}
.pageTitle {
    grid-area: pageTitle;
    justify-self: center;
}
.iconLinkedin:hover {
    transform: scale(1.2, 1.2);
}
.iconEmail:hover {
    transform: scale(1.2, 1.2);
}

.aboutMeBlock1 {
    display: grid;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    grid-template-columns: 500px 500px;
    grid-template-rows: 50px 380px;
    grid-template-areas:
    "subTitle1 aboutMeImage1"
    "subDescription1 aboutMeImage1"
}
.subTitle1 {
    color: #723885;
    grid-area: subTitle1;
}
.aboutMeImage1 {
    grid-area: aboutMeImage1;
    padding-left: 25px;
}
.subDescription1 {
    font-family: 'Indie Flower', cursive;
    grid-area: subDescription1;
    padding-top: 25px;
    letter-spacing: 1px;
    line-height: 1.2;
}

.aboutMeBlock2 {
    display: grid;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    grid-template-columns: 500px 500px;
    grid-template-rows: 50px 380px;
    grid-template-areas:
    "aboutMeImage2 subTitle2"
    "aboutMeImage2 subDescription2"
}
.subTitle2 {
    color: #723885;
    grid-area: subTitle2;
    padding-left: 25px;
}
.aboutMeImage2 {
    grid-area: aboutMeImage2;
}
.subDescription2 {
    font-family: 'Indie Flower', cursive;
    grid-area: subDescription2;
    padding-left: 25px;
    letter-spacing: 1px;
    line-height: 1.2;
}

button {
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    text-align: center;
    background-color: #723885;
    color:white;
    border: 2px solid rgb(235, 181, 241);
    box-shadow: lightgray;
    align-self: center;
    margin-top: 1vw;
    margin-bottom: 2vw;
    font-size: 1vw;
}

button:visited {
    background-color: black;
    color: white;
}

button:hover {
    background-color: white;
    color:black;
    cursor: pointer;
}

button#homeButton {
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    text-align: center;
    background-color: #8743c0d1;
    color:white;
    border: 2px solid rgb(206, 162, 239);
    box-shadow: lightgray;
    align-self: center;
    margin-top: 2.1vw;
    margin-bottom: 2vw;
    margin-left: 1vw;
    font-size: 1vw;
}

button#homeButton:visited {
    background-color: black;
    color: white;
}

button#homeButton:hover {
    background-color: white;
    color:black;
    cursor: pointer;
}



/*My Resume Main*/
.myResume {
    display:flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}

.pageTitle {
    grid-area: pageTitle;
    text-align: center;
    color: #723885;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pdf {
    grid-area: pdf;
    justify-self: center;
    padding-left: 100px;
    display: flex;
    align-items: center;
}
.email {
    grid-area: email;
    justify-self: center;
    display: flex;
}
.linkedin {
    grid-area: linkedin;
    justify-self: center;
    padding-right: 100px;
    display: flex;
}

.iconPDF:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}
.iconLinkedin:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}
.iconEmail:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.myResumeBlock1{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.blockTitle {
    color: #723885;
}

/* .myResumeBlock2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
}
.skillsInfographic {
    display: flex;
    justify-self: center;
    padding-top: 25px;
    width: 1000px;
    height: 400px;
    background-color: gray;
} */

.myResumeBlock3 {
    display: grid;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: 150px 550px;
    grid-template-areas:
    "blockTitle blockTitle blockTitle"
    "project1 project2 project3"
}
.blockTitle {
    grid-area: blockTitle;
    text-align: center;
    padding-top: 50px;
}
.project1 {
    grid-area: project1;
}
.project2 {
    grid-area: project2;
}
.project3 {
    grid-area: project3;
}
.projectImage:hover {
    /* cursor: pointer;
    outline: 5px solid #F2D533;
    outline-offset: -5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) */
    transform: scale(1.2, 1.2);
}

.myResumeBlock4 {
    display: grid;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    grid-template-columns: 180px 1fr 1fr;
    grid-template-rows: 150px 160px 1fr;
    grid-template-areas:
    "blockTitle blockTitle blockTitle"
    "parkerLordLogo leftAlign1 rightAlign1"
    "parikerLordLogo description1 description1"
}
.blockTitle {
    grid-area: blockTitle;
}
.parkerLordLogo {
    grid-area: parkerLordLogo;
    padding-left: 100px;
    padding-top: 110px;
}
.leftAlign1 {
    grid-area: leftAlign1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 150px;
    text-align: left;
    padding-top: 50px;
    color: #723885;
    font-weight: 800; 
    line-height: 14px;
}
.rightAlign1 {
    grid-area: rightAlign1;
    display:flex;
    flex-direction: column;
    text-align: right;
    padding-right: 100px;
    padding-top: 50px;
    color: #723885;
    font-weight: 800;
    line-height: 14px;
}
.description1 {
    grid-area: description1;
    display:flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 100px;
    line-height: 18px;
    
}
.subtitle {
    color: #723885;
    font-weight: 800; 
    line-height: 0px;
}
.accomplishments li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1.35em;
    padding-left: 2em;
}

.myResumeBlock5 {
    padding-top: 25px;
}
.GeorgiaTech {
    display: grid;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    grid-template-columns: 180px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "GT-logo leftAlign2 rightAlign2"
    "GT-logo GT-description GT-description"
}
.GT-logo {
    grid-area: GT-logo;
    padding-left: 100px;
}
.leftAlign2 {
    grid-area: leftAlign2;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 150px;
    text-align: left;
    color: #723885;
    font-weight: 800; 
}
.rightAlign2 {
    grid-area: rightAlign2;
    display:flex;
    flex-direction: column;
    text-align: right;
    padding-right: 100px;
    color: #723885;
    font-weight: 800;
}
.GT-description {
    grid-area: GT-description;
    padding-left: 150px;
    padding-right: 100px;
    line-height: 18px;
}

.VT {
    display: grid;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    grid-template-columns: 180px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "VT-logo leftAlign3 rightAlign3"
    "VT-logo VT-description VT-description"
}
.VT-logo {
    grid-area: VT-logo;
    padding-left: 125px;
}
.leftAlign3 {
    grid-area: leftAlign3;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 150px;
    text-align: left;
    color: #723885;
    font-weight: 800; 
}
.rightAlign3 {
    grid-area: rightAlign3;
    display:flex;
    flex-direction: column;
    text-align: right;
    padding-right: 100px;
    color: #723885;
    font-weight: 800; 
}
.VT-description {
    grid-area: VT-description;
    padding-left: 150px;
    padding-right: 100px;
    line-height: 18px;
}


/*Footer*/
.footer {
    display: grid;
    width: 100%;
    color: #582c66;
    background-image: linear-gradient(150deg, #80d2f8 10%, #FAF8B1 40%, #fab1ce 70%);
    grid-template-columns: 608px 832px;
    grid-template-rows: 100x 100px 100px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    padding-top: 1rem;
    grid-template-areas:
    "nothing footerTitle"
    "iconLinkedin descriptionLinkedin"
    "iconEmail descriptionEmail"
}
.nothing {
    grid-area: nothing;
}
.footerTitle {
    grid-area: footerTitle;
    justify-self: flex-start;
    text-decoration: underline solid #fcfbfb;
}
.iconLinkedin {
    grid-area: iconLinkedin;
    justify-self: flex-end;
    padding-right: 10px;
}
.descriptionLinkedin {
    grid-area: descriptionLinkedin;
    justify-self: flex-start;
    padding-bottom: 1px;
}
.iconEmail {
    grid-area: iconEmail;
    justify-self: flex-end;
    padding-right: 10px;
}
.descriptionEmail {
    grid-area: descriptionEmail;
    justify-self: flex-start;
}


/*Project 01*/
.kingImg {
    width: 100%;
    height: 400px;
    padding-top: 100px;
}
.jumbotron {
    background-image: url("../images/project_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.jumbotron .container {
    height: 400px;
}
.projectNav {
    list-style-type: none;
    margin: 0;
    color: #723885;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    flex-shrink: 1;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    letter-spacing: 1px;
    height: 100px;
    /* padding-bottom: 25px; */
}
.projectNav li:hover {
    text-decoration: underline solid;
    cursor: pointer;
    color: white;
}

.projectLinksTitle {
    font-family: 'Nerko One', cursive;
    font-size: 36px;
    letter-spacing: 2px;
    color: #723885;
}
.projectLinks {
    list-style-type: none;
    margin: 0;
    color: black;
}
.projectLinks a{
    color: black;
}
.projectTitle {
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
    color: #723885;
}
.sectionTitle {
    text-align: center;
    color: #723885;
    padding-top: 100px;
    padding-bottom: 50px;
}
.introductionP{
    background-image: linear-gradient(white, rgba(198, 148, 207, 0.5));
}
.research{
    background-image: linear-gradient(rgba(198, 148, 207, 0.5),  rgb(255, 255, 255));
}
.analysisDefinition{
    background-image: linear-gradient(white, rgba(198, 148, 207, 0.5));
}
.prototypingUserTesting{
    background-image: linear-gradient(rgba(198, 148, 207, 0.5), rgb(255, 255, 255));
}
.finalPrototype{
    background-image: linear-gradient(white, rgba(198, 148, 207, 0.5));
}





#introductionP {
    padding-top: 100px;
}
.card {
    border: 0;
    box-shadow: none;
    background-image: linear-gradient(rgba(237, 207, 255, 0.5), rgb(255, 252, 252));
    /* padding-left: 1ch;
    padding-right: 1ch; */
}
.card #statements {
    text-align: center;
    
}
.card .card-text{
    font-family: 'League Spartan', sans-serif;
    padding-top: 1rem;
    font-size: 22px;
    font-weight: 400;
    line-height: 2ch;

}
.card #hifi_overview:hover{
    transform: scale(1.1, 1.1);
}

.card #movie-img:hover{
    transform: scale(1.1, 1.1);
}
/* .card .card-img:hover{
    transform: scale(1.2, 1.2);
} */
/* .card .hifi-img{
    width: 1200px;
    height: 550px;
    justify-content: center;

} */

.card .card-text-sub{
    font-family: 'League Spartan', sans-serif;
    padding-top: 1rem;
    font-size: 22px;
    font-weight: 400;
    line-height: 2ch;
    color: #796f7d;

}
.bg-custom-1 {
    background-color: #299697;
}
.container .row {
    /* align-items: center; */
    padding-bottom: 50px;
}
#video-wrapper { 
    width: auto; 
    height: auto; 
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
} 
#home1 { 
    width: 29%; 
    height: 300px; 
    float: left; 
    margin-right: 5%;
} 
#home2 { 
    width: 29%; 
    height: 300px; 
    float: left; 
    margin-right: 5%;
}
#home3 { 
    width: 29%; 
    height: 300px; 
    float: left; 
}
.clear{
    clear: both;
}


@media (max-width:767px) {
    #video-wrapper{
        width: 100%;
        height: auto;
    }
    #home1 {
        width: 100%;
        height: auto;
        float: none;
    }
    #home2 {
        width: 100%;
        height: auto;
        float: none;
    }
}
/*MEDIA QUERY*/
@media only screen and (max-width: 1100px){
    .projectNav {
        flex-direction: column;
    }
    .introductionP {
        padding-top: 100px;
    }
    /*header navigation*/
    .headerContainer {
        z-index: 3;
        position: fixed;
        align-items: flex-end;
    }
    .burger {
        display: flex;
        padding-bottom: 25px;
        padding-right: 50px;
    }
    .burgerContainer {
        /* z-index: 1;
        display: none;
        flex-direction: column;
        float: right; */
        color: white;
        /* padding-top: 90px; */
        padding-top: 120px;
        /* padding-right: 40px; */
        width: 250px;
        /* align-items: space-between; */
        background-color: #f1a4e8;
        /* text-align: center; */
    }
    .burgerContainerList {
        list-style: none;
        text-align: center;
        padding-right: 50px;
        /* color: white;
        padding-top: 90px;
        padding-right: 40px;
        width: 125px;
        text-align: center; */
    }
    .open {
        display: flex;
    }
    .visible {
        display: block;
    }
    .logoName {
        display: flex;
        align-items: flex-end;
    }
    .logo {
        padding-left: 25px;
        padding-bottom: 25px;
        align-items: flex-end; 
    }
    .name {
        font-size: 24px;
        align-items: center;
        padding-left: 75px;
    }
    .nav {
        display: none;
    }




}